* {
    scroll-behavior: smooth;
    
}
body {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    max-width: 1440px;
    margin: 0 auto;
    background-color: rgb(24, 23, 23);
    color: rgb(187, 221, 251);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.names-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 0;
}

.names-item, a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: whitesmoke;
    text-decoration: none;
    padding: 0 10px;
    list-style-type: none;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.sections {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content:flex-start;
    width: 250px;
    height: 420px;
    
    margin: auto;
    
}

.main-section-image {
    margin: 20px 0 40px 0;
}

section > a > img {
    border-radius: 50%;
    
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color:aliceblue;
}